* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* supaya konten tidak ketutup header */
body {
    padding-top: 90px;
}

/* HEADER */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 50px;
    background: #fff; /* putih, bersih */
    border-bottom: 3px solid #ddd; /* GARIS BAWAH */
    z-index: 1000;
}

/* LOGO */
.logo img {
    height: 270px;
}

/* NAV */
.topnav a {
    margin-left: 30px;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    position: relative;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 30px 80px;
    gap: 40px;
}

/* KIRI - TEKS */
.hero-text {
    max-width: 50%;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 800;
    line-height: 1.2;
}

.hero-text p {
    margin: 20px 0;
    font-size: 18px;
    color: #333;
    font-weight: bold;
}

/* BUTTON */
.hero-buttons {
    margin-top: 30px;
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 600;
    margin-right: 15px;
}

.btn.primary {
    background: #b6b4f6;
    color: #000;
}

.btn.secondary {
    background: #7ad3e0;
    color: #000;
}

/* KANAN - GAMBAR */
.hero-image {
    max-width: 50%;
    text-align: right;
}

.hero-image img {
    width: 100%;
    max-width: 450px;
}

/* COURSES SECTION */
.courses {
    padding: 80px 80px;
    background: #ff8a00; /* warna orange seperti contoh */
    text-align: center;
}

.courses h2 {
    font-size: 36px;
    font-weight: 800;
    color: #fff;
}

.courses-subtitle {
    margin-top: 10px;
    font-size: 18px;
    color: #fff;
}

/* GRID */
.courses-grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

/* CARD */
.course-card {
    background: #fff;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
}

.course-card img {
    width: 80px;
    margin-bottom: 20px;
}

.course-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.course-card p {
    font-size: 16px;
    color: #555;
}

html {
    scroll-behavior: smooth;
}

/* Menu Course tanpa efek active */
.topnav a.no-active::after {
    display: none;
}

.topnav a.no-active {
    color: #000;
}

.h2 {
    font-size: 20px;
    position: relative;
    justify-content: center;
}